.pytest_cache
.mypy_cache
.vscode
__pycache__
outputs
processors
.DS_Store
.ipynb_checkpoints
customer-segmentation-a-AULLE--py3.8
*-workspace
.tox
wandb
multirun
*.log
mlruns
artifacts
.venv
.DS_Store
venv
*.ipynb
/model
/image
