
hydra:  
  output_subdir: null  
  run:  
    dir: .

defaults:
  - process: process_2
  - _self_

flow: all 

raw_data: 
  path: data/raw/marketing_campaign.csv

intermediate:
  dir: data/intermediate
  name: scale_features.csv
  path: ${intermediate.dir}/${intermediate.name}

final:
  dir: data/final
  name: segmented.csv
  path: ${final.dir}/${final.name}

image:
  kmeans: image/elbow.png
  clusters: image/cluster.png

model:
  path: model/cluster.pkl
